.header {
   display: flex;
   justify-content: space-between;
   padding: 3%;
   background-color: rgb(42, 42, 119);
   color: white;
   border-radius: 20px;
   margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

html,body{
    padding: 0;
    margin: 0%;
}

.container {
    background-color: #1f2937;
    border:10px solid #1f2937;
}

.info {
    color: white;
}

.contained {
    display: flex;
    justify-content: space-between;
    padding-right: 12%;
    padding-left: 12%;
}

.shui {
    font-size: xx-large;
}

.links {
    display: flex;
    gap: 20px;
}

.photo {
    height: auto;
    max-width: 200px;
    border: 2px solid aqua;

}
.btn {
    border-radius: 5px;
    background-color: white;
    color: #3882f6;
    font-size: 20px;
    padding: 1.5%;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color:rgb(68, 68, 235);
    color: white;
}

.wrapped {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 200px;
}

.img1 {
    width: 200px;
}

.Gang {
    text-align: center;
    font-size: xx-large;
}

#img {
    height: auto;
    width: 100%;
    border: 2px solid aqua;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapContainer {
    flex-wrap: wrap;
display: flex;
gap: 80px;
justify-content: center;
width: 100vw;
}

.sec3 {
    text-align: center;
    background-color: rgb(219, 207, 207);
    margin-bottom: 20px;
}

.speech {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    padding: 30px;
    max-width: 800px;
    margin-bottom: 20px;
}

.sec4 {
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 0 90px;
    margin-bottom: 20px;
}

#share {
    border-radius: 5px;
    background-color: white;
    color: #3882f6;
    font-size: 20px;
    padding: 2%;
    transition: 0.5s ease-in-out;
}

#share:hover {
    background-color:rgb(68, 68, 235);
    color: white;
}

.all {
 display: flex;
 justify-content: space-around;
 background-color: #3882f6;
 border: 2px solid #3882f6;
 border-width: 10px;
 border-radius: 22px;
}

footer {
    text-align: center;
    background-color: rgb(42, 42, 119);
    color: white;
    padding: 2%;
}

.copy {
   font-size: larger;
}

